# Backend API URL
# For local development:
VITE_API_URL=http://localhost:3001
VITE_GEMINI_API_KEY=AIzaSyBmw9rA8ffDYmltER_3tGvbSG6wVXBSilc

# For production (replace with your backend URL):
# VITE_API_URL=https://your-backend-url.com

# Supabase
VITE_SUPABASE_URL=https://sbp-3a0c44e57607db0708bc2d822c574923e6a39430.supabase.co
VITE_SUPABASE_ANON_KEY=sbp_3a0c44e57607db0708bc2d822c574923e6a39430
